body {
  background-image: url(https://i.gifer.com/3HeZ.gif);
  background-color: #000000;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  }
  div h1{
    text-align: center;
    position: relative;
    left: 90px;
    margin-top: 50px;
    font-size: 48px;
    color: rgb(255, 255, 255);
  }

 
.contenedor{
  display: flex;
}
.contenedor img{
  background-color: rgb(110, 165, 110);
  height: 150px;
  position: relative;
  left: 35px;
  border-radius: 10px;
}
  .presentador img{
    position: relative;
    border-radius: 10px;
    background-color: rgb(110, 165, 110);
    left: 210px;
    height: 270px;
  }
  nav {
  background-color: #116816f4;
  color: #0f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  }
  
  nav a {
    color: rgb(186, 190, 186);
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
  }
  
  nav a:hover {
    background-color: #0f0;
    color: #000;
  }
  
  section {
    margin: 50px auto;
    max-width: 800px;
    padding: 30px;
    background-color: #302f2fbd;
    color: gold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  section h2 {
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  section p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  section a {
    color: #0f0;
  text-decoration: none;
  }
  
  section a:hover {
    text-decoration: underline;
  }
  
/* Estilos para el footer */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #101010;
  color: white;
  padding: 1px;
  font-size: 12px;
}



