body{
  background-image: url(https://i.gifer.com/3HeZ.gif);
  background-color: #000;
}

#problemas {
  max-width: 700px; 
  margin: 0 auto; 
  padding: 20px; 
  background-color: #060606; 
  box-shadow: 0 0 10px #0f0; 
}

h2{
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-shadow: 0px 2px 2px #000;
}

#problemas li {
  font-size: 20px; 
  margin: 10px 0;
  color: rgba(0, 255, 0, 0.671);
  text-shadow: 0px 1px 1px #000;
}

#boton-volver {
  display: block;
  margin-top: 20px;
  background-color: #0f0;
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-shadow: none;
  position:relative;
  left: 42%;
}

#boton-volver:hover {
  background-color: #000;
  color: #0f0;
}

