
tbody{

  color: black;
}
.tabla-desarrolladores {
  border-collapse: collapse;
  margin: 20px auto;
  width: 80%;
  color: white;
}

.tabla-desarrolladores th {
  background-color: #010101;
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px;
  text-align: left;
  border-bottom: 2px solid #4caf50;
}

.tabla-desarrolladores td {
  border-bottom: 1px solid #4caf50;
  font-size: 1.1em;
  padding: 10px;
  text-align: left;
}

.tabla-desarrolladores img {
  display: block;
  height: 100px;
  margin: auto;
  width: 100px;
}

#boton-volver {
  display: block;
  margin-top: 20px;
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#boton-volver:hover {
  background-color: #010101;
  color: #4caf50;
}
